<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- Context -->
    <context-param>
        <param-name>emailAddress</param-name>
        <param-value>tealet@milktea.com</param-value>
    </context-param>
    <context-param>
        <param-name>hotlineNumber</param-name>
        <param-value>821-7777</param-value>
    </context-param>
    
    <!-- Context for monthly milktea flavor -->
    <context-param>
        <param-name>monthlyFlavorPrice</param-name>
        <param-value>125</param-value>
    </context-param>
    <context-param>
        <param-name>monthlyFlavorName</param-name>
        <param-value>Muscovado</param-value>
    </context-param>
    <context-param>
        <param-name>monthlyFlavorDescription</param-name>
        <param-value>A timeless choice. Tea made from brown sugar and rock salt.</param-value>
    </context-param>
    <context-param>
        <param-name>monthlyFlavorImagePath</param-name>
        <param-value>./images/muscovado.jpg</param-value>
    </context-param>
    
    <!-- Servlets -->
    <servlet>
        <servlet-name>MilkteaSelect</servlet-name>
        <servlet-class>controller.MilkteaSelect</servlet-class>
        <!-- ServletConfig #1 -->
        <init-param>
            <description>Valid Flavors for Freebies</description>
            <param-name>flavorWithFreebie</param-name>
            <param-value>Wintermelon Tea</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>ProcessOrder</servlet-name>
        <servlet-class>controller.ProcessOrder</servlet-class>
        <!-- ServletConfig #2 --> 
        <init-param>
            <description>Valid Coupon Code for Orders</description>
            <param-name>couponCode</param-name>
            <param-value>sirLawrencePogi</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>ImageRedirect</servlet-name>
        <servlet-class>controller.ImageRedirect</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>DownloadSelect</servlet-name>
        <servlet-class>controller.DownloadSelect</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>MenuFlavors</servlet-name>
        <servlet-class>controller.MenuFlavors</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ErrorRedirectHome</servlet-name>
        <servlet-class>controller.ErrorRedirectHome</servlet-class>
    </servlet>
    
    <!-- Mapping -->
    <servlet-mapping>
        <servlet-name>MilkteaSelect</servlet-name>
        <url-pattern>/SelectMilkTea.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DownloadSelect</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ProcessOrder</servlet-name>
        <url-pattern>/ProcessOrder.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ImageRedirect</servlet-name>
        <url-pattern>/ImageRedirect.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MenuFlavors</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ErrorRedirectHome</servlet-name>
        <url-pattern>/ErrorRedirectHome</url-pattern>
    </servlet-mapping>
    
    <!-- Listener -->
    <listener>
        <listener-class>
            listener.SeasonContextListener
        </listener-class>
    </listener>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>indexXmas.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Error Pages -->
    <error-page>
        <exception-type>java.lang.IllegalArgumentException</exception-type>
        <location>/ErrorPages/errorIAE.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPages/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ErrorPages/error500.jsp</location>
    </error-page>
    
</web-app>
