/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 10, 2022, 3:24:49 PM
    Author     : maxim
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    font-size: 1.15em;
    font-family: 'Poppins', sans-serif;
    background-color: #FFDDD2;
    text-align: center;
    display:flex; 
    flex-direction:column;
}

.xmas {
    background-color: #FAFFD2;
}

.links, .name {
    font-size: 1.3rem;
}

header {
    padding: 16px 72px;
    background: rgb(225, 249, 255);
    background: linear-gradient(180deg, rgba(225, 249, 255, 1) 30%, rgba(209, 255, 253, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height:50px
}

li {
    display: inline-block;
    padding: 10px 1rem;
}

img {
    align: center;
}

.index-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.common-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 25px;
    text-align: left;
}

.title {
    color: #83C5BE;
}

.promo {
    color: #006D77;
}

.orange {
    color: #FA643F;
}

a {
    text-decoration: none;
    color: #006D77;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
}

button {
  background-color: #316B81;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button {
  background-color: #316B81;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  min-height:50px;
  padding: 16px 32px;
  background-color: #83C5BE;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
    transition: width 0.5s, height 0.5s, 0.5s;
}

footer img:hover {
    width: 32px;
    height: 32px;
    transform: rotate(360deg);
    opacity: 0.7;
}